.header {
    height: 93px;
    padding: 0 7.8125vw 0 7.8125vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header__logo-image {
    width: 77px;
    height: 77px;
}

.header__logo-text {
    margin-left: 20px;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 50px;
    color: black;
}

.header__tel {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 50px;
    color: black;
    text-decoration: none;
}