@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/footer.css);
@import url(../blocks/popup.css);

html {
    scroll-behavior: smooth;
}

.section__repair {
    background-color: #5076F6;
    padding: 123px 0 198px 7.8125vw;
    display: flex;
    justify-content: space-between;
}

.repair__title {
    color: white;
    font-family: 'Russo One';
    font-size: 70px;
    font-weight: 400;
    max-width: 807px;
}

.repair__track {
    display: flex;
    flex-direction: column;
}

.repair__track-status {
    width: 424px;
    height: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 10px;
    margin: 30px 0 115px 0;
    box-sizing: border-box;
}

.repair__track-status-text {
    color: white;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 400;
}

.repair__track-status-button {
    margin-top: 21px;
    border: none;
    background-color: white;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 400;
    width: 211px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
}

.repair__track-status-button:hover {
    border: 2px solid rgba(0, 0, 0, 0.27);
}

.repair__track-status-button:focus {
    background-color: #A4A4A4;
    border: 2px solid rgba(0, 0, 0, 0.27);
}

.repair__track-vk {
    display: flex;
    align-items: end;
}

.repair__track-vk-icon {
    width: 74px;
    height: 74px;
}

.repair__track-vk-icon-link {
    margin-right: 13px;
}

.repair__track-vk-arrow {
    display: flex;
    flex-direction: column;
}

.repair__track-vk-arrow-text {
    color: white;
    font-weight: 400;
    font-family: 'Quicksand';
    font-size: 30px;
    margin-left: 32.04%;
}

.repair__track-vk-arrow-image {
    width: 25.5vw;
}

.section__services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 88px 13.5416vw 111px 14.583vw;
}

.services__title {
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 50px;
    font-weight: 400;
    margin: 0 0 50px 0;
}

.services__images {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}

.services__image {
    margin-left: 55px;
}

.services__image:first-child {
    margin-left: 0;
}

.services__cards {
    width: 100%;
}

.services__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
    width: 100%;
}

.services__card:last-child {
    margin: 0;
}

.services__card-block-title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.services__card-title {
    font-family: 'Ubuntu';
    font-size: 40px;
    font-weight: 400;
    margin-left: 19px;
}

.services__card-circle {
    background-color: #5076F6;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__card-circle-text {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 40px;
    color: white;
}

.services__card-circle_blue {
    background-color: #5076F6;
}

.services__card-circle_green {
    background-color: #77F1A1;
}

.services__card-paragraph {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 30px;
}

.services__card-paragraph-tel {
    color: white;
    background-color: #5076F6;
    text-decoration: none;
}

.section__map {
    border-bottom: 18px solid #5076F6;
}

.map__title {
    font-family: 'Ubuntu';
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 75px;
    border-bottom: 18px solid #5076F6;
}

@media screen and (min-width: 1440px) and (max-width: 1900px) {
    .section__repair {
        padding: 141px 0 198px 8.125vw;
    }

    .repair__title {
        font-size: 52px;
        max-width: 637px;
    }

    .repair__track-status {
        width: 359px;
        height: 148px;
        margin: 18px 0 71px 0;
    }

    .repair__track-status-text {
        font-size: 25px;
    }

    .repair__track-status-button {
        font-size: 25px;
        width: 185px;
        height: 45px;
    }

    .repair__track-vk-icon {
        width: 65px;
        height: 65px;
    }

    .repair__track-vk-icon-link {
        margin-right: 11px;
    }

    .repair__track-vk-arrow-text {
        font-size: 25px;
        margin-left: 25.065%;
    }

    .repair__track-vk-arrow-image {
        width: 27.708vw;
    }

    .section__services {
        padding: 56px 13.5416vw 60px 13.888vw;
    }

    .services__title {
        font-size: 40px;
        margin: 0 0 53px 0;
    }

    .services__images {
        margin-bottom: 133px;
    }

    .services__image-picture_phone {
        width: 60px;
        height: 118px;
    }

    .services__image-picture_laptop {
        width: 144px;
        height: 94px;
    }

    .services__image-picture_motherboard {
        width: 142px;
        height: 148px;
    }

    .services__image-picture_lock {
        width: 60px;
        height: 94px;
    }

    .services__image {
        margin-left: 42.67px;
    }

    .services__card {
        margin-bottom: 45px;
    }

    .services__card-block-title {
        margin-bottom: 20px;
    }

    .services__card-title {
        font-size: 35px;
        margin-left: 17px;
    }

    .services__card-circle {
        width: 44px;
        height: 44px;
    }

    .services__card-circle-text {
        font-size: 35px;
    }

    .services__card-paragraph {
        font-size: 25px;
    }

    .map__title {
        font-size: 40px;
        padding-bottom: 78px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .section__repair {
        padding: 110px 0 113px 7.8125vw;
    }

    .repair__title {
        font-size: 40px;
        max-width: 467px;
    }

    .repair__track-status {
        width: 283px;
        height: 125px;
        margin: 11px 0 33px 0;
    }

    .repair__track-status-text {
        font-size: 18px;
    }

    .repair__track-status-button {
        margin-top: 15px;
        font-size: 18px;
        width: 150px;
        height: 37px;
    }

    .repair__track-vk-icon {
        width: 41px;
        height: 41px;
    }

    .repair__track-vk-icon-link {
        margin-right: 15px;
    }

    .repair__track-vk-arrow-text {
        font-size: 20px;
        margin-left: 27.83%;
    }

    .repair__track-vk-arrow-image {
        width: 30.1757vw;
    }

    .section__services {
        padding: 56px 19.042vw 75px 19.53vw;
    }

    .services__title {
        font-size: 30px;
        margin: 0 0 65px 0;
    }

    .services__images {
        margin-bottom: 65px;
    }

    .services__image {
        margin-left: 59px;
    }

    .services__image:first-child {
        margin-left: 0;
    }

    .services__image-picture_phone {
        width: 60px;
        height: 118px;
    }

    .services__image-picture_laptop {
        width: 144px;
        height: 94px;
    }

    .services__image-picture_motherboard {
        width: 142px;
        height: 148px;
    }

    .services__image-picture_lock {
        width: 60px;
        height: 94px;
    }

    .services__cards {
        width: 100%;
    }

    .services__card {
        margin-bottom: 30px;
    }

    .services__card-block-title {
        margin-bottom: 12px;
    }

    .services__card-title {
        font-size: 26px;
        margin-left: 12px;
    }

    .services__card-circle {
        width: 32px;
        height: 32px;
    }

    .services__card-circle-text {
        font-size: 26px;
    }

    .services__card-paragraph {
        font-size: 18px;
    }

    .map__title {
        font-size: 30px;
        padding-bottom: 77px;
    }
    
    .section__map > iframe {
        height: 515px;
    }
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
    .section__repair {
        padding: 24px 0 24px 0;
        flex-direction: column;
        align-items: center;
    }

    .repair__title {
        font-size: 20px;
        max-width: 280px;
    }

    .repair__track {
        align-self: flex-end;
    }

    .repair__track-status {
        width: 150px;
        height: 62px;
        margin: 25px 0 25px 0;
    }

    .repair__track-status-text {
        font-size: 9px;
    }

    .repair__track-status-button {
        margin-top: 15px;
        font-size: 9px;
        width: 78px;
        height: 19px;
    }

    .repair__track-vk-icon {
        width: 26.66px;
        height: 26.66px;
    }

    .repair__track-vk-icon-link {
        margin-right: 6.34px;
    }

    .repair__track-vk-arrow-text {
        font-size: 10px;
        margin-left: 42.7%;
    }

    .repair__track-vk-arrow-image {
        width: 58.5416vw;
    }

    .section__services {
        padding: 29px 9.375vw 27px 9.375vw;
    }

    .services__title {
        font-size: 15px;
        margin: 0 0 23px 0;
    }

    .services__images {
        margin-bottom: 29px;
    }

    .services__image {
        margin-left: 19.33px;
    }

    .services__image:first-child {
        margin-left: 0;
    }

    .services__image-picture_phone {
        width: 26px;
        height: 52px;
    }

    .services__image-picture_laptop {
        width: 65px;
        height: 42px;
    }

    .services__image-picture_motherboard {
        width: 64px;
        height: 66px;
    }

    .services__image-picture_lock {
        width: 26px;
        height: 42px;
    }

    .services__card {
        margin-bottom: 14px;
    }

    .services__card-block-title {
        margin-bottom: 7px;
    }

    .services__card-title {
        font-size: 17px;
        margin-left: 10px;
    }

    .services__card-circle {
        width: 20px;
        height: 20px;
    }

    .services__card-circle-text {
        font-size: 17px;
    }

    .services__card-paragraph {
        font-size: 15px;
    }

    .map__title {
        font-size: 15px;
        padding-bottom: 28px;
        border-bottom: 21px solid #5076F6;
    }

    .section__map > iframe {
        height: 231px;
    }
}

@media screen and (max-width: 479px) {
    .section__repair {
        padding: 35px 0 27px 0;
        flex-direction: column;
        align-items: center;
    }

    .repair__title {
        font-size: 15px;
        max-width: 210px;
    }

    .repair__track {
        width: 100%;
        align-items: center;
    }

    .repair__track-status {
        width: 150px;
        height: 62px;
        margin: 22px 0 25px 0;
    }

    .repair__track-status-text {
        font-size: 10px;
    }

    .repair__track-status-button {
        margin-top: 8px;
        font-size: 10px;
        width: 110px;
        height: 19px;
    }

    .repair__track-vk {
        align-self: flex-end;
    }

    .repair__track-vk-icon {
        width: 26.66px;
        height: 26.66px;
    }

    .repair__track-vk-icon-link {
        margin-right: 10.34px;
    }

    .repair__track-vk-arrow-text {
        font-size: 10px;
        margin-left: 37.5%;
    }

    .repair__track-vk-arrow-image {
        width: 42.5vw;
    }

    .section__services {
        padding: 24px 12.5vw 22.5px 12.5vw;
    }

    .services__title {
        font-size: 15px;
        margin: 0 0 17.5px 0;
    }

    .services__images {
        margin-bottom: 29px;
    }

    .services__image {
        margin-left: 17.5px;
    }

    .services__image-picture_phone {
        width: 23px;
        height: 46px;
    }

    .services__image-picture_laptop {
        width: 57px;
        height: 36px;
    }

    .services__image-picture_motherboard {
        width: 57px;
        height: 58px;
    }

    .services__image-picture_lock {
        width: 23px;
        height: 36px;
    }

    .services__card {
        margin-bottom: 14px;
    }

    .services__card-block-title {
        margin-bottom: 7.5px;
    }

    .services__card-title {
        font-size: 13px;
        margin-left: 10px;
    }

    .services__card-circle {
        width: 15px;
        height: 15px;
    }

    .services__card-circle-text {
        font-size: 13px;
    }

    .services__card-paragraph {
        font-size: 10px;
    }

    .map__title {
        font-size: 15px;
        padding-bottom: 25px;
        border-bottom: 21px solid #5076F6;
    }

    .section__map > iframe {
        height: 213px;
    }
}